@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-700;
  -webkit-font-smoothing: antialiased;
}

a:link,
a:visited {
  @apply font-bold;
  @apply text-blue-600;
}

[type='text'] {
  @apply appearance-none;
  @apply border;
  @apply px-1;
  @apply py-0.5;
  @apply rounded;
  @apply w-full;
}

[type='text']:focus {
  @apply outline-none;
}

.prose > * {
  @apply px-8;
  @apply py-2;
}

.prose .hidden-diff {
  @apply p-1;
}

.history {
  @apply relative;
}

.history::before {
  @apply bg-neutral-300;
  @apply absolute;
  border-radius: 3px;
  bottom: 0;
  content: '';
  left: 7px;
  top: 8px;
  width: 2px;
}

.history-item {
  @apply relative;
}
