@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-neutral-700;
  @apply text-base;
  -webkit-font-smoothing: antialiased;
}

a:link,
a:visited {
  @apply font-bold;
  @apply text-blue-600;
}

[type='text'] {
  @apply appearance-none;
  @apply border;
  @apply px-1;
  @apply py-0.5;
  @apply rounded;
  @apply w-full;
}

[type='text']:focus {
  @apply outline-none;
}

.prose {
  font-family: Merriweather;
  font-size: 16px;
}

/* .prose > * {
  @apply px-8;
  @apply py-2;
}

.prose .hidden-diff {
  @apply p-1;
} */
